@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cherry+Bomb+One&family=Lilita+One&family=Montserrat&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Iso&family=Rubik+Mono+One&display=swap');

/* variabel */
:root {
    --primaryTextColor: #232e25;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid sandybrown; */
    text-decoration: none;
}

.navbar {
    background-color: var(--primaryBackgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
}

figure a img {
    width: 50px;
    height: 50px;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar .navbar-nav .nav-link {
    color: var(--primaryTextColor);
    transition: .3s ease-in-out;
}
.navbar .navbar-nav .nav-link:hover {
    color: rgba(25, 137, 242, 0.653);
}